body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1C1C1C;
    font-family: 'Karla', sans-serif;
}

.main-box {
    width: 90%;
    max-width: 750px;
    padding: 40px 30px;
    background: #1F2937;
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
}
.white-color,
.green-color {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    margin: 0;
}

.white-color {
    color: #FFFFFF;
}

.green-color {
    color: #4ADF86;
    margin-bottom: 16px;
}

.site-description {
    color: #D5D4D8;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 32px;
}

button {
    background: #10B981;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 32px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

hr {
    border: 1px solid #2F3E53;
    margin: 0 0 32px 0;
}

.password-1,
.password-2 {
    background: #273549;
    color: #55F991;
    padding: 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 12px;
    flex: 1;
    min-width: 40%;
    min-height: 40%;
}

.password-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; 
    margin-top: 24px;
}
